img {
    border-radius: 5px !important;

}

.col-md-3{
    margin: 30px !important;
}

p {
    font-weight: bold;
    font-size: 22px;
}

#navbar {
    background-color: rgb(23, 22, 22);
}

li{
    color: white;
    list-style-type: none;
    display: inline;
    margin-bottom: 15px !important;
    margin-left: 30px;
}

#nav-elements {
    text-align: center;
    padding: 10px;
}

#title {
    font-size: 30px;
}

#footer {
    background-color: rgb(48, 8, 8);
    color: white;
    text-align: center;
    padding: 20px;
}